.error__container {
  background-color: #161b22;
  border-radius: var(--br-outer);
  display: flex;
  flex-direction: column;
  grid-column: 1/ 3;
  row-gap: 1rem;
  padding: 2rem;
  width: calc(100% - 0.5rem);
}
.error__container p {
  text-align: center;
}
@media (min-width: 48rem) {
  .error__container {
    grid-column: 1/ 5;
  }
}
@media (min-width: 64rem) {
  .error__container {
    grid-column: 1/ 5;
    width: 100%;
  }
}
