.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  min-height: calc(100lvh - 112px);
  width: 100%;
}
.hero .hero__inner {
  margin: 0 auto;
  /* max-height: 40rem; */
  max-width: 64rem;
}

.hero .hero__card {
  backdrop-filter: blur(0.25rem);
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}
@media (min-width: 30rem) {
  .hero .hero__card {
    font-size: 1.5rem;
  }
}
@media (min-width: 48rem) {
  .hero {
    min-height: 30rem;
  }
  .hero .hero__card {
    font-size: 2rem;
  }
}
