.hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  width: 100%;
}
.hero .hero__inner {
  margin: 0 auto;
  max-height: 40rem;
  max-width: 64rem;
}

.hero .hero__card {
  backdrop-filter: blur(1.25rem);
  background-color: rgba(0,0,0,0.1);
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero .hero__card {
    font-size: 2rem;
  }
}