.list--characters {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, 100%);
}
.list--locations {
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
}
.list__header {
  background-color: #0d1117;
  position: sticky;
  top: 0;
}
.list__header-inner {
  background-color: #161b22;
  border-top-left-radius: var(--br-outer);
  border-top-right-radius: var(--br-outer);
  display: grid;
  padding: 1rem;
}
.list__header-inner--locations {
  grid-template-columns: 1fr 1fr 1fr 5rem;
}
.list__header-inner--episodes {
  grid-template-columns: 1.5fr 1fr 1fr 5rem;
}
.list__header p {
  color: var(--color-aqua);
  font-size: 1rem;
  font-weight: 600;
}
.list--locations li:nth-child(odd) {
  background-color: #161b22;
}
.list--locations li p {
  overflow: hidden;
  padding-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list--locations button {
  background-color: transparent;
  color: var(--color-lime);
  font-size: 1rem;
  outline: 0.0625rem solid var(--color-lime);
  transition: all .25s ease-out;

}
.list--locations button:hover {
  background-color: var(--color-lime);
  color: var(--color-black);
}
@media (min-width: 48rem) {
  .list--characters {
    grid-template-columns: repeat(3, calc(33% - 2.5px));
  }
}
@media (min-width: 64rem) {
  .list--characters {
    grid-template-columns: repeat(4, calc(25% - 6px));
  }
}
