.item__card {
  align-items: center;
  background-color: #161b22;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.item__image-container {
  position: relative;
  line-height: 0;
  width: 100%;
}
.item__image {
  aspect-ratio: 1/1;
  border-radius: var(--br-inner);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  position: relative;
  width: 100%;
  z-index: 1;
}
.item__image--shadow {
  bottom: 0.5rem;
  filter: blur(1rem);
  left: 10%;
  opacity: 75%;
  position: absolute;
  width: 80%;
}
.item__content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 0.5rem;
  width: 100%;
}
.item__header {
  max-width: 100%;
}
.item__name {
  font-size: 1.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__name::before {
  animation: live-dot-blink 1.5s ease-in-out infinite;
  background-color: var(--color-green);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  min-width: 0.5rem;
  vertical-align: middle;
  width: 0.5rem;
}
.item__name.dead::before {
  animation: none;
  background-color: var(--color-red);
}
.item__name.unknown::before {
  animation: dead-dot-blink 1.5s ease-in-out infinite;
  background-color: var(--color-gray);
}
.item__species-type {
  color: #7d8590;
  display: block;
  font-size: 1rem;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__description {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.item__description p {
  color: var(--color-aqua);
  font-size: 0.75rem;
}
.item__description span {
  color: var(--color-white);
  display: block;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item__button {
  background-color: var(--color-lime);
  font-size: 1rem;
  padding: 0.5rem 0;
  width: 100%;
}
.item__button:hover {
  opacity: 0.9;
}
@media (min-width: 768px) {
}
@keyframes dead-dot-blink {
  0%,
  to {
    opacity: 0.6;
  }
  40%,
  100% {
    opacity: 1;
  }
}
@keyframes live-dot-blink {
  0%,
  to {
    opacity: 0;
  }
  40%,
  70% {
    opacity: 1;
  }
}
