.item__card {
  background-color: #161b22;
  display: flex;
  flex-direction: column;
}
.item__image {
  border-radius: 24px;
}
.item__description {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  padding: 1rem;
}
.item__name {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}
.item__name::before {
  animation: live-dot-blink 1.5s ease-in-out infinite;
  background-color: var(--color-green);
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  width: 0.5rem;
}

.item__name.dead::before {
  animation: none;
  background-color: var(--color-red);
}

.item__name.unknown::before {
  animation: none;
  background-color: var(--color-gray);
}
.item__species-type {
  color: #7d8590;
}

@media (min-width: 768px) {
  .item__card {
    flex-direction: row;
  }
  .item__image {
    max-width: 10rem;
  }
}

@keyframes live-dot-blink {
  0%,
  to {
    opacity: 0;
  }
  40%,
  70% {
    opacity: 1;
  }
}
