.button {
  border: none;
  border-radius: var(--br-inner);
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
}
.button:disabled,
.button:focus:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: var(--color-gray);
  border-color: var(--color-black);
  color: var(--color-black);
  cursor: not-allowed;
}
