.list {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, 100%);
  min-height: 50vh;
}
.form {
  background-color: #161b22;
  border-radius: var(--br-outer);
  column-gap: 1rem;
  display: flex;
  margin-bottom: 1rem;
  min-height: 5rem;
  padding: 1rem;
}
.form__input {
  background-color: var(--color-white);
  border: none;
  border-radius: var(--br-inner);
  flex-grow: 1;
  font-size: 1.75rem;
  padding: 0.5rem 1rem;
}
.form__input:focus-visible {
  outline: solid var(--color-aqua);
}
.form__button {
  background-color: transparent;
  border: 0.125rem solid var(--color-aqua);
  color: var(--color-aqua);
  font-size: 1.25rem;
  padding: 0 1rem;
  transition: background-color .25s ease-out;
}
.form__button:hover {
  background-color: var(--color-aqua);
  color: var(--color-black);
}
@media (min-width: 48rem) {
  .list {
    grid-template-columns: repeat(3, calc(33% - 2.5px));
  }
}
@media (min-width: 64rem) {
  .list {
    grid-template-columns: repeat(4, calc(25% - 6px));
  }
}
