.section {
  color: var(--white);
  font-size: 1.5rem;
  padding: 2rem 1rem;
}
.section:nth-child(odd) {
  background-color: #161b22;
}

@media (min-width: 768px) {
  .section {
    padding: 4rem 1rem;
  }
  .section__inner {
    max-width: 1024px;
    margin: 0 auto;
  }
  .section__title {
    align-items: center;
    display: flex;
    font-size: 3rem;
  }
  .section__title::before {
    background-color: var(--color-lime);
    border-radius: 5px;
    content: '';
    column-gap: 0.25rem;
    display: block;
    height: 38px;
    width: 5px;
  }
}
