/* nunito font */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaB.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaB.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* adjust fallback font overrides */
@font-face {
  font-family: fallback-font;
  ascent-override: 100%;
  descent-override: 30%;
  line-gap-override: normal;
  advance-override: 100;
  src: local(Arial);
}
/* adjust fallback letter and word spacing */
.fallback {
  letter-spacing: -1.1px;
  word-spacing: -0.2px;
}
:root {
  --color-black: #202329;
  --color-gray: #7c7c7c;
  --color-green: #00f700;
  --color-red: #cb1111;
  --color-lime: #bfde42;
  --color-tile: #193840;
  --color-blue-gray: #212833;
  --color-aqua: #42b4ca;
  --color-white: #e6edf3;
  --br-outer: 24px;
  --br-inner: 12px;
  --primary-font: ;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Nunito, fallback-font, sans-serif;
  margin: 0;
}
body {
  background-color: #0d1117;
  color: var(--color-white);
  min-height: 100vh;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  color: var(--color-black);
  font-family: 'Nunito', sans-serif;
}
